<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/jr91/vue-template-project">
            Gitlab
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.creative-tim.com/license">
            Licenses
          </a>
        </li> -->
      </ul>
      <div class="copyright">
        Made with template by
        <a href="https://www.creative-tim.com" target="_blank" rel="noopener">Creative Tim</a>
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    data() {
      return {
        // year: new Date().getFullYear()
      }
    }
  };
</script>
<style>
</style>
